.PublicationCard {
  background-color: var(--color-block-background);
}

.PublicationCard a.button {
  border-radius: 128px;
  height: 36px;
  padding: 0 16px;
  transition: background-color 0.1s;
  display: flex;
  align-items: center;
  gap: 8px;

  color: var(--color-block-background);

  background-color: var(--color-button-background);
  text-decoration: none;
}

.PublicationCard a.button:hover {
  background-color: var(--color-button-background-hover);
  text-decoration: underline;
}

.PublicationCard a.author {
  color: var(--color-text);
}

@media (max-width: 600px) {
  .PublicationLinks p {
    flex-direction: column;
    align-items: center;
  }
}
